<footer class="page-footer">
  <div class="footer-top">
    <div class="container footer-content">
      <div class="footer-left">
        <img src="{{site.baseurl}}/assets/res/logoblanco.png" alt="Permacultura Aragón" class="footer-logo" />
      </div>

      <div class="footer-center">
        <div class="footer-col">
          <a href="{{site.baseurl}}/">Torre Escribana</a>
          <a href="{{site.baseurl}}/">Xutopot</a>
          <a href="{{site.baseurl}}/">Permática</a>
        </div>
        <div class="footer-col">
          <a href="{{site.baseurl}}/">Diseño</a>
          <a href="{{site.baseurl}}/">Quiénes somos</a>
          <a href="{{site.baseurl}}/">Contacta</a>
        </div>
      </div>

      <div class="footer-right">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/icons/youtube-white.png" alt="YouTube"></a>
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/icons/facebook-white.png" alt="Facebook"></a>
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/icons/instagram-white.png" alt="Instagram"></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© {{"now" | date: "%Y"}} Permacultura Aragón. Powered by <a href="https://github.com/ShawnTeoh/matjek">MatJek</a>.</p>
  </div>
</footer>
